.DS_Store
/.env
/.idea
Thumbs.db
*.tmp
*~
*.lnk
*.sublime-project
*.sublime-workspace
sftp-config.json
/node_modules
/logs/*.log
/*.tar
trash-*.tb
*.out.json
npm-debug.log
.tern-port
.node_repl_history
.node_repl_history.tmp-*
